.wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	padding: 2em;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
}
	.title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: var(--font_size__heading);
		&::first-letter {
			letter-spacing: 0.05em;
		}
	}
	.links {
		font-size: 1.1em;	
	}