.wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	padding: 2em;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;

	--landing_page__padding: 1.6rem;
}
	.title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: var(--font_size__heading);
		&::first-letter {
			// letter-spacing: 0.05em;
		}
	}
	.links {
		font-size: 1.1em;	
	}
	.mailchimp {
		display: block;
		margin-bottom: 1em;
	}

@media(orientation: landscape) and (max-width: 768px){
	.links {
		font-size: 0.5em;
	}
}

@media(min-width: 1025px){
	.wrapper {
		--landing_page__padding: 1rem;
	}

	.mailchimp {
		margin-bottom: 0.3844em
	}
}
