.wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	padding: 2em;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	--landing_page__padding: 1.6rem;
}
	.headings {
		position: relative;
	}
		.title {
			font-size: var(--font_size__heading);
		}
		.subtitle {
			position: absolute;
			bottom: 0;
			right:  0; 
			font-size: 0.28em;
			font-family: var(--font_family__body);
			text-transform: uppercase;
			color: var(--color__text__light);
			font-weight: 400;
		}
	.externals {
		position: absolute;
		bottom: var(--landing_page__padding);
		left:   var(--landing_page__padding);
	}
	.mailchimp {
		position: absolute;
		bottom: var(--landing_page__padding);
		right:  var(--landing_page__padding);
	}
	.socials {
		position: absolute;
		top:  var(--landing_page__padding);
		left: var(--landing_page__padding);
	}
	.mute {
		position: absolute;
		top:   var(--landing_page__padding);
		right: var(--landing_page__padding);
	}

@media(min-width: 1025px){
	.wrapper {
		--landing_page__padding: 1rem;
	}
}
