mailchimp-signup {
	display: block;

	--mailchimp_signup__height: 4vw;
}
	.container {
		display: flex;
		font-size: var(--mailchimp_signup__height);
	}
		.email { 
			height: var(--mailchimp_signup__height);
			padding: 0.25em 0.4em;
			border: none;
			font-size: calc(var(--mailchimp_signup__height) * 0.666);

		}
		.subscribe { 
			border: none;
			margin-left: 0.1em;
			font-size: var(--mailchimp_signup__height);
			height: 1em;
			width: 1.5em;
			color: transparent;
			background: url(assets/icons/subscribe.svg) center / contain no-repeat, 
			            transparent;
			
			transition: transform .15s;
			&:focus {
				outline: none;
			}
			&:hover {
				cursor: pointer;
				transform: scale(1);
			}
			&:not(:hover){
				transform: scale(0.85);
			}
		}

@media(orientation: landscape){
	mailchimp-signup {
		--mailchimp_signup__height: 2.248vw;
	}
}

@media(min-width: 1025px){
	mailchimp-signup {
		--mailchimp_signup__height: 1.2rem;
	}
}
