mute-toggle {
	display: inline-block;
	font-size: 3.333vw;
}

.wrapper {
	display: inline-block;
	border: none;
	font-size: 1em;
	background-color: transparent;
	transform-origin: right top;
	appearance: none;
	-webkit-apperance: none;
	&:focus {
		outline: 0;
	}
}

@media(orientation: landscape){
	mute-toggle {
		font-size: 1.874vw;
	}
}

@media(min-width: 1025px){
	mute-toggle {
		font-size: 1.2rem;
	}
}
