:root {
	--font_family__body: tgn-soft-round, sans-serif;
	--font_family__heading: blackoak-std, serif;
	--font_weight__body: 400;
	--font_weight__heading: 400;
	--font_size__body: 1em;
	--font_size__heading: 1.25em;
}

body {
	font-size: 3.3vw;
}

h1 {
	font-family: var(--font_family__heading);
	font-weight: var(--font_weight__heading);
	color: var(--color__text__light);
	text-transform: uppercase;
}

p, a, button {
	font-family: var(--font_family__body);
	// filter: var(--shadow__text_shadow);
	color: var(--color__text__light);
	text-transform: uppercase;
}

button {
	font-size: 1em;
}

a:link,
a:visited {
	text-decoration: none;
}

@media(min-width: 768px){
	
}

@media(min-width: 1025px){
	:root {
		--font_size__heading: 2.5vw;
	}
	body {
		font-size: 30px;
	}
}
