* {
	margin:  0;	
	padding: 0;
	box-sizing: border-box;
}

/* HIDE ALL OF THE SAFARI PLAY BUTTONS */
*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}