.wrapper {
	list-style-type: none;
	font-size: 3.333vw;
}
	.item {
		display: inline-block;
		& + .item {
			margin-left: var(--landing_page__padding);
		}
	}
		.link {
			&[aria-disabled="true"]{
				opacity: 0.5;
				pointer-events: none;
			}
		}

@media(orientation: landscape){
	.wrapper {
		font-size: 1.874vw;
	}
		
}

@media(min-width: 768px), (orientation: landscape){
	.item + .item {
		// margin-left: var(--landing_page__padding);
	}
}

@media(min-width: 1025px){
	.wrapper {
		font-size: 1.2rem;
	}
}
