.wrapper {
	margin-top: 1em;
	list-style-type: none;
}
	.item {
		display: inline-block;
		& + .item {
			margin-left: 1.75em;
		}
		&.instagram .link {
			background-image: url(assets/icons/instagram.svg);
		}
		&.facebook .link {
			background-image: url(assets/icons/facebook.svg);
		}
		&.twitter .link {
			position: relative;
			left: 0.25em;
			background-image: url(assets/icons/twitter.svg);
		}
		&.youtube .link {
			position: relative;
			left: 0.25em;
			background-image: url(assets/icons/youtube.svg);
		}
	}
		.link {
			display: block;
			height: 1em;
			width: 1em;
			font-size: 1.5em;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}

@media(min-width: 1025px){
	.wrapper {
		margin-top: 0.62em;
		font-size: 0.62em;
	}
		.item + .item {
			margin-left: 0.62em;
		}
		.link {
			font-size: 1em;
		}
}
